@charset "UTF-8";

@font-face {
font-family: 'Playfair Display',
'Abril Fatface', cursive, 
'Oswald', sans-serif,
'Rozha One', serif,
'Anton';

}

h1 {
	font-family: 'Abril Fatface';
	font-size: 120px;
	text-shadow: 4px 4px 4px #fff;
	text-align: center;
}

h2 {
	text-align: center;
	font-family: 'Abril Fatface'
}

body {

  font-size: 24px;
  background: #CDE8E3;
  line-height: 45px;
  padding: 50px;
}

img {

	padding: 10px;
	width: 250px;
	height: 200px;
}

p {
	font-family: 'Oswald', sans-serif;
	text-align: center;

}

.left {
	text-align:center;
	padding: 20px;
	
}

.center {
	text-align:center;
	padding: 20px;
	
}

.right {
	text-align:center;
	padding: 20px;
}

.last {
	text-align: center;
	padding: 20px;
}


#col {
	column-count: 2;
} 

#values {
	font-size: 59px;
}

#contact {
	font-family: 'Anton';
}

#head {
	font-family: 'Abril Fatface';
}


#container {
	font-size: 15px;
}

#mainNav ul
{
	list-style-type: none;
	/*padding-top: 22px;*/
}

#mainNav ul li
{
	float: left;
}

#mainNav ul li a
{
	font-family: 'Oswald';
	display: block;
	color: #000000;
	font-size: 26px;
	text-decoration: none;
	margin-left: 30px;
	margin-top: 10px;
	padding: 35px;
	text-transform: uppercase;
	letter-spacing: .5px;
	border-radius: 20px;
	cursor: pointer;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#mainNav ul li a:hover
{
	background-color: #fff;
	border-radius: 5px;
	color: #000000;
}

.hr {
  height: 0px;
  margin: 0px;
  border-bottom: 1px solid #FF0000;
  font-size: 1px;
}